body {
	font-family: Verdana, Arial, sans-serif;
	background: #5b5b5b;
	margin: 0px auto;
	padding: 0 0 20px 0;
}

#shadow-one {
	width: 760px;
	border: 1px solid #555;
	border-top: 0;
	margin: 0px auto;
}
#shadow-two {
	border: 1px solid #4b4b4b;
	border-top: 0;
}
#shadow-three {
	border: 1px solid #444;
	border-top: 0;
}
#shadow-four {
	border: 1px solid #3a3a3a;
	border-top: 0;
}

#page {
	border: 1px solid #333;
	background: #fff;
	border-top: 0;
	padding: 20px;
	font-size: 10pt;
}

#page td {
	font-size: 10pt;
}

#title {
	background: #c00;
	padding: 4px;
	font-weight: bold;
	color: #fff;
	margin-bottom: 15px;
	height: 16px;
}

#title .right {
	float: right;
	width: 300px;
	text-align: right;
}

#menu {
	float: left;
	width: 150px;
	padding-right: 20px;
}

#menu a {
	width: 140px;
	display: block;
	background: #c00;
	color: white;
	padding: 8px;
	font-weight: bold;
	border-bottom: 1px solid #fff;
	text-decoration: none;
}

#menu a:hover {
	background: #d33;
}

#content {
	width: 525px;
	float: right;
	padding-right: 10px;
}

#content a {
	color: #c00;
	text-decoration: none;
}

#content a:hover {
	color: #d33;
	text-decoration: underline;
}

#content h1 {
	margin-top: 0px;
}

.spacer {
	clear: both;
}

#footer {
	font-size: 0.8em;
	color: #666;
	text-align: center;
	margin: 10px 50px 0 50px;
	padding-top: 10px;
	border-top: 1px dotted #666;
}

#status {
	width: 500px;
	float: right;
	padding: 10px;
	margin: 10px;
	border:  1px dotted #666;
	font-weight: bold;
}

#status p {
	padding: 0; /* 5px 0 5px 10px; */
	/* text-indent: -10px; */
	margin: 0;
}

#status .leds {
	font-size: 10px;
	position: absolute;
}

#status .leds a {
	color: #fff;
	cursor: pointer;
}

#status .leds a:hover {
	text-decoration: none;
	color: #c00;
}


#sensors td{
	width: 30px;
	text-align: center;
}


#alarms {
	width: 500px;
	float: right;
	padding: 10px;
	margin: 10px;
	border:  1px dotted #666;
	font-weight: bold;
}

#alarms p {
	padding: 0; /* 5px 0 5px 10px; */
	/* text-indent: -10px; */
	margin: 0;
}

#alarms .leds {
    width: 50px;
	font-size: 20px;
}

#alarms .desc {
	font-size: 15px;
}

#alarms .leds a {
	color: #ccc;
	cursor: pointer;
}

#alarms .leds a:hover {
	text-decoration: none;
	color: #c00;
}


.examplebox {
	margin:10px 40px 10px 40px;
	padding: 8px;
	border: 1px dotted #333;
	text-align:center;
	background:#ddd;
}

.code {
	font-family: Courier New, Courier, fixed-width, fixed;
}

.exercise {
	background: #fe9;
	padding: 5px;
	margin-left: 10px;
	border-left: 2px solid #eb3;
}

.error {
	margin-left: 10px;
	padding: 10px;
	background: #fdd;
	border-left: 2px solid #900;
}

#content h6 {
	border-top: 1px dashed #333;
	margin: 15px;
	padding: 0px;
	height: 1px;
}

.examplebox td {
	text-align:left;
	padding-right: 15px;
}

fieldset {
	margin:10px 40px 10px 40px;
	padding: 8px;
	border: 1px dotted #333;
	background:#ddd;
}

fieldset div {
	padding: 2px 0px 2px 150px;
}

fieldset div label {
	margin-left: -140px;
	padding-top: 2px;
	width: 135px;
	font-weight: bold;
	position: absolute;
}

fieldset input {
	width: 250px;
}

fieldset input.sm {
	width: auto;
}

fieldset textarea {
	width: 250px;
}

.result
{
	margin: 10px 40px 10px 40px;
	padding: 8px;
	border: 1px solid #333;
	text-align: center;
	font-weight: bold;
	background: #eee;
}

	.ok {
		border-color: #6b6;
		background: #efe;
	}
	
	.fail {
		border-color: #b66;
		background: #fee;
	}
	
	.unk {
		border-color: #cc6;
		background: #ffd;
	}
